ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container__outer {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;

}

.slider__wrapper {
    padding: 55px 0;
    background-color: #3F3F3F;
}

.main__studio-slider {
    position: relative;
    padding-top: 90px;
    height: 476px;
}

.sliderPicture-item {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
    transition: all .5s ease;
    cursor: pointer;
}

.sliderPicture-item.active {
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sliderPicture-img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.sliderPicture-dotsList {
    position: absolute;
    z-index: 7;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.sliderPicture-dots:not(:first-child) {
    margin-top: 15px;
}

.sliderPicture-dots {
    width: 12px;
    height: 24px;
    background-color: #A6A6A6;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s ease;
}

.sliderPicture-dots.active {
    width: 12px;
    height: 34px;
    background-color: orange;
    border: 1px solid #EFEFEF;
}

.slider-btn {
    width: 45px;
    height: 45px;
    background-image: url(img/menuBtnBack.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFF;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider-btn--prev {
    position: absolute;
    top: 10px;
    right: 65px;
    transform: rotate(180deg);
}

.slider-btn--next {
    position: absolute;
    top: 10px;
    right: 15px;
}

@media screen and (max-width: 767px) {

    .main__studio-slider {
        position: relative;
        padding-top: 0;
        height: 325px;
    }

    .sliderPicture-dotsList {
        position: absolute;
        top: auto;
        right: 46%;
        bottom: 0;
        transform: translateX(-50%) translateY(0) rotate(90deg);
    }

    .sliderPicture-img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .sliderPicture-img {
        transform: scale(1.5);
    }
}


